@CHARSET "UTF-8";

body {

    font-family: "Microsoft Yahei", sans-serif;

    font-weight: lighter;

}

 

header {

    background-image: url(../img/timg.jpg);
    
   
    color: white;

    width: 1300px;

    height: 990px;

    text-align: center;

    margin: 0 auto;

}

 

#title {

    display: inline-block;

    font-size: 64px;

    padding-top: 200px;

    width: 960px;

}

 

#titlebottom {

    display: inline-block;

    box-sizing: border-box;

    width: 960px;

    font-size: 24px;

    padding: 70px 70px 100px 70px;

}

 

#login {

    display: inline-block;

    

    width: 1000px;

    height: 600px;

}

 

#login div:first-child {

    font-size: 35px;

    color:white;
   
    padding-top: 60px;

    padding-bottom: 15px;

}

 

 

.name{
	
	height:40px;
	width:300px;
	margin-right:10px;
	

}

.name2{
	width:150px;
	height:45px;
	margin-top:20px;
	background-color:#0099CC;
	color:white;
	border-radius: 10px;
	border:none;
} 

.name3{
	width:230px;
	height:40px;
	
	margin-right:10px;
	
}

.name4{
	margin-top:20px;
	width:230px;
	height:40px;
	background-color:#0099CC;
	color:white;
	border-radius: 10px;
	border:none;
}
 


#special:LINK{
	color:white;
}

 #special:VISITED{
	color:pink;
}


 
 

footer {

    width: 1300px;

    height: 400px;

    background-color: black;

    margin: 0 auto;

   

    font-size: 15px;

}

 

footer>div {
	color:white;

    width: 1200px;

    height: 310px;

    display: flex;

    justify-content: space-around; 

    margin: 0 auto;  

    padding-top: 90px;

}

 
#icon{
	height:160px;
	
	withd:150px;
}


 



 

